#output{
    width: 100%;
}

.wrp {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sm_img {
    width: 150px;
    cursor: pointer;
}

.big_img {
    margin-top: 35px;
}

.arrows {
    margin-top: 35px;
    cursor: pointer;
    width: 100px;
    align-self: center;
    border: 1px solid black;
    text-align: center;
}


.goods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrp_product {
    width: 300px;
    border: 1px solid darkorange;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.menu_cart {
    position: fixed;
    cursor: pointer;
    font-size: 75px;
    right: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    min-height: 300px;
    z-index: 50;
    background-color: goldenrod;
    text-align: center;
    padding: 30px;
}

#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; 
    background:#000;
    opacity: 0.75; 
    left:0;
    top:0;
    cursor: pointer;
}


.close {
    display: none;
}


table{
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid black;
}